</div>
</div>
<div class="ideas">

  <header class="header-image">
    <div class="headline">
      <h1><i class="fa fa-plug"></i>
   open<strong>Integrations</strong></h1>
      <h3>Your apps are <strong>better</strong> together.</h3>
      </div>
  </header>

  <div class="featurette mappings">
    <hr class="light">
    <hr class="dark">
    <br>
    
    <div class="container">
   
    <div class="row">

        <div class="col-md-2 text-center">
          
          <%= link_to "Create new map", "/mappings/new", class: 'btn btn-default' %><br>
          
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle btn-success" data-toggle="dropdown" aria-expanded="false">
              Change Plan <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/users/<%= current_user.id %>/edit?plan=Entry">Entry</a></li>
              <li><a href="/users/<%= current_user.id %>/edit?plan=Startup">Startup</a></li>
              <li><a href="/users/<%= current_user.id %>/edit?plan=Growth">Growth</a></li>
              <li class="divider"></li>
              <li><a href="/users/<%= current_user.id %>/edit?plan=Free">Free</a></li>
            </ul>
          </div>
        </div>
        
        <div class="col-md-2 text-center">
          <div class="content">
            Plan
          </div>
          <h4 class="title">
            <%= current_user.plan.name %>
          </h4>
          <div class="content">
            $<%= current_user.plan.price.to_i %>/mo.
          </div>
        </div>
        
        <div class="col-md-4 text-center">
          <div class="content">
            Maps
          </div>
          <h4 class="title">
            <%= @mappings.where(enabled: true).count %>/<%= current_user.plan.map_limit %>
          </h4>
          <div class="content">
            <%= @mappings.where(active:true).count %> active
          </div>
        </div>
        
        <div class="col-md-4 text-center">
          <div class="content">
            Transactions
          </div>
          <h4 class="title">
            <%= current_user.legacy_count %>/<%= current_user.plan.job_limit %>
          </h4>
          <div class="content">
            <%= current_user.reset_countdown %> until limits reset
          </div>
        </div>
    </div>

    <br>  

    <div class="container">
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>Label</th>
            <th>Source <i class="fa fa-plug"></i></th>
            <th>Destination <i class="fa fa-plug"></i></th>
            <th style="text-align:center">Enabled?</th>
            <th style="text-align:center">Auto sync</th>
            <th style="text-align:center">History</th>
            <th style="text-align:center">Destroy</th>
          </tr>
        </thead>
        <tbody>
          <%= render @mappings %>
        </tbody>
      </table>
    </div>

  </div>

</div>
