</div>
<div class="ideas">
  <!-- Full Width Image Header -->
  <header class="header-image">
    <div class="headline">
      <h1><i class="fa fa-plug"></i> open<strong>Mapper</strong></h1>
      <h3>No code;<strong> seamless</strong> data integration at your fingertips.</h3>
    </div>
  </header>

<div class="featurette dark">
  <hr class="light">
    <hr class="dark">

<div class="container">
  <div class='pull-left'>
    <%= form_tag dispatch_surveys_odk_sf_legacy_mapping_path(@mapping), class: 'form-inline', role: 'form' do %>
      <div class="form-group">
        <%= text_field_tag :only, params[:only], class: 'form-control', placeholder: 'No. of jobs' %>
      </div>
      <%= submit_tag "Manual Test", class: "import-button btn btn-success #{@mapping.enabled? ? '' : 'disabled'}" %>
    <% end %>
  </div>

<div class='pull-right'>
  <%= button_to "Destroy", @mapping, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this map?' } %>
  <%= link_to "View Cursor", '#', class: 'btn btn-primary', data: {toggle: 'modal', target: '#cursor_modal'} if @mapping.import && @mapping.import.cursor %>
  <%= button_to "Clear Cursor", [:clear_cursor, @mapping], class: 'btn btn-warning', data: { confirm: 'Are you sure you want to clear the cursor? If the cursor is cleared, the worker will attempt to import all records in your source database, starting back at the beginning.' } %>
  <%#= button_to "Clone", [:clone, @mapping], class: 'btn btn-success', confirm: 'Are you sure?' %>
</div>

<%= render "cursor_modal", mapping: @mapping if @mapping.import && @mapping.import.cursor %>
<%= render "edit", mapping: @mapping %>

</div>
