<%= form_for @user, html: {class: "nifty_form"} do |f| %>

  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="form-group">
    <%= f.label :odk_username %><br>
    <%= f.text_field :odk_username %>
  </div>

  <div class="form-group">
    <%= f.label :odk_password %><br>
    <%= f.text_field :odk_password %>
  </div>

  <div class="form-group">
    <%= f.label :salesforce_username %><br>
    <%= f.text_field :sf_username %>
  </div>

  <div class="form-group">
    <%= f.label :salesforce_password %><br>
    <%= f.text_field :sf_password %>
  </div>

  <%= f.submit "Submit" %>
<% end %>
