<%= form_for @user, role: 'form' do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :odk_url %>
    <%= f.text_field :odk_url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :odk_username %>
    <%= f.text_field :odk_username, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :odk_password %>
    <%= f.password_field :odk_password, value: f.object.odk_password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :sf_username, "Salesforce Username" %>
    <%= f.text_field :sf_username, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :sf_password, "Salesforce Password" %>
    <%= f.password_field :sf_password, value: f.object.sf_password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :sf_security_token, "Salesforce Security Token" %>
    <%= f.text_field :sf_security_token, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :sf_app_key, "Salesforce Client Key" %>
    <%= f.text_field :sf_app_key, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :sf_app_secret, "Salesforce App Secret" %>
    <%= f.text_field :sf_app_secret, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :sf_host, "Salesforce Host" %>
    <%= f.text_field :sf_host, class: 'form-control', placeholder: "Defaults to login.salesforce.com" %>
  </div>

  <%= f.submit "Submit", class: 'btn btn-primary' %>
<% end %>
