</div>
<div class="ideas">
<header class="header-image">
  <div class="headline">

<% if current_user %>

  <h1><i class="fa fa-user"></i> your <strong>Account</strong></h1>
  <h3>Manage credentials and add <strong>credits</strong>.</h3>
  
<% else %>

  <h1><i class="fa fa-user"></i> create <strong>Account</strong></h1>
  <h3>Go ahead and <strong>start mapping</strong> for free. Seriously.</h3>

<% end %>

  </div>
</header>

<div class="pricing">

<div class="featurette dark">
  <hr class="light">
  <hr class="dark">
    <div class="container">

        <br>

        <div class="row flat">
          <div class="col-lg-2 col-md-3 col-xs-6 col-lg-offset-1">
            <ul class="plan plan1">
              <li class="plan-name">
                  Free
              </li>
              <li class="plan-price">
                  <strong>$0</strong> / mo.
              </li>
              <li>
                  <strong>1</strong> project
              </li>
              <li>
                  <strong>1</strong> user
              </li>
              <li>
                  <strong>2</strong> apps
              </li>
              <li>
                  <strong>1</strong> map
              </li>
              <li>
                  <strong>limited</strong> support
              </li>
              <li>
                  <strong>100</strong> jobs/mo.
              </li>
              <li>
                <strong>auto</strong> sync
              </li>
              <li class="plan-action">
                  <a href="/signup" data-method="get" class="btn btn-success btn-lg">Select</a>
              </li>  
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 col-xs-6">
            <ul class="plan plan2">
              <li class="plan-name">
                  Entry
              </li>
              <li class="plan-price">
                  <strong>$39</strong> / mo.
              </li>
              <li>
                  <strong>1</strong> project
              </li>
              <li>
                  <strong>1</strong> user
              </li>
              <li>
                  <strong>2</strong> apps
              </li>
              <li>
                  <strong>3</strong> maps
              </li>
              <li>
                  <strong>limited</strong> support
              </li>
              <li>
                  <strong>1000</strong> jobs/mo.
              </li>
              <li>
                <strong>auto</strong> sync
              </li>
              <li class="plan-action">
               <a href="/signup" data-method="get" class="btn btn-success btn-lg">Select</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 col-xs-6">
            <ul class="plan plan3">
              <li class="plan-name">
                  Startup
              </li>
              <li class="plan-price">
                  <strong>$79</strong> / mo.
              </li>
              <li>
                  <strong>2</strong> projects
              </li>
              <li>
                  <strong>5</strong> users
              </li>
              <li>
                  <strong>10</strong> apps
              </li>
              <li>
                  <strong>10</strong> maps
              </li>
              <li>
                  <strong>email</strong> support
              </li>
              <li>
                  <strong>2000</strong> jobs/mo.
              </li>
              <li>
                <strong>auto</strong> sync
              </li>
              <li class="plan-action">
               <a href="/signup" data-method="get" class="btn btn-danger btn-lg">Select</a>
             </li>
         </ul>
     </div>

     <div class="col-lg-2 col-md-3 col-xs-6">
        <ul class="plan plan4">
            <li class="plan-name">
                Growth
            </li>
            <li class="plan-price">
                <strong>$299</strong> / mo.
            </li>
            <li>
                <strong>5</strong> projects
            </li>
            <li>
                <strong>20</strong> users
            </li>
            <li>
                <strong>20</strong> apps
            </li>
            <li>
                <strong>20</strong> maps
            </li>
            <li>
                <strong>priority</strong> support
            </li>
            <li>
                <strong>5000</strong> jobs/mo.
            </li>
            <li>
                <strong><i class="fa fa-bolt"></i> rapid</strong> sync
            </li>
            <li class="plan-action">
             <a href="/signup" data-method="get" class="btn btn-success btn-lg">Select</a>
         </li>
     </ul>
    </div>
    
      <div class="col-lg-2 col-md-3 col-xs-6">
        <ul class="plan plan4">
            <li class="plan-name">
                Enterprise
            </li>
            <li class="plan-price">
                <strong>$999</strong> / mo.
            </li>
            <li>
                <strong>20</strong> projects
            </li>
            <li>
                <strong>80</strong> users
            </li>
            <li>
                <strong>unlimited</strong> apps
            </li>
            <li>
                <strong>80</strong> maps
            </li>
            <li>
                <strong>live chat</strong> support
            </li>
            <li>
                <strong>unlimited</strong> jobs/mo.
            </li>
            <li>
                <strong><i class="fa fa-bolt"></i> rapid</strong> sync
            </li>
            <li class="plan-action">
             <a href="/signup" data-method="get" class="btn btn-success btn-lg">Select</a>
         </li>
        </ul>
      </div>
</div>
<div class="row">

    <br>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    
<!--   <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Subscription
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body"> -->

<% if current_user %> 
      <div class="row">

        <div class="col-md-6">
          <h1><%= @user.credits %></h1>
          <h4>Maps</h4>
        </div>

        <div class="col-md-6">
          <h1><%= @user.mappings.enabled.count %></h1>
          <h4>Enabled maps</h4>
        </div>

      </div>

<% end %>

      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <%= form_for @user, role: 'form' do |f| %>
                  Settings
                </a>
              </h4>
            </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">

                  <div class="form-group">
                    <%= f.label :email %>
                    <%= f.text_field :email, class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :password %>
                    <%= f.password_field :password, class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation, class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :first_name %>
                    <%= f.text_field :first_name, class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :last_name %>
                    <%= f.text_field :last_name, class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :organisation %>
                    <%= f.text_field :organisation, class: 'form-control' %>
                  </div>
                  <% if current_user %>
                    <%= f.submit "Update", class: 'btn btn-primary' %>
                  <% else %>
                    <%= f.submit "Sign up", class: 'btn btn-success' %>
                  <% end %>

              <% end %>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <%= form_for @user, role: 'form' do |f| %>
              ODK / SurveyCTO
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <div class="form-group">
              <%= f.label :odk_url, "Instance URL" %>
              <%= f.text_field :odk_url, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :odk_username, "Username" %>
              <%= f.text_field :odk_username, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :odk_password, "Password" %>
              <%= f.password_field :odk_password, value: f.object.odk_password, class: 'form-control' %>
            </div>
            <%= f.submit "Update", class: 'btn btn-primary' %>
            <% end %>
            </div>
      </div>
    </div>
    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <%= form_for @user, role: 'form' do |f| %>
            Salesforce.com
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <div class="form-group">
          <div class="form-group">
            <%= f.label :sf_username, "Username" %>
            <%= f.text_field :sf_username, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :sf_password, "Password" %>
            <%= f.password_field :sf_password, value: f.object.sf_password, class: 'form-control' %>
          </div>

          <div class="form-group">
            <a data-toggle="collapse" data-parent="#accordion21" href="#collapseTwoOne">
            <%= f.label :sf_security_token, "Security Token" %>
            <i class="fa fa-question-circle"></i>
            </a>
            <%= f.text_field :sf_security_token, class: 'form-control' %>
            <div id="collapseTwoOne" class="panel-collapse collapse"><br>
              <p>1. Search “security token” in your email to see if you've received a security token in the past. (If you have, go to step 5.)</p>
              <p>2. To reset or create a new security token, click your name and “Setup” in Salesforce</p>
              <p>3. Go to “Personal Information” and click “reset your security token”.</p>
              <p>4. Read the warnings, then click “Reset Security Token”.</p>
              <p>5. Copy your security token from your email and paste it here.</p>
            </div>
          </div>
          
          <div class="form-group">
            <a data-toggle="collapse" data-parent="#accordion21" href="#collapseTwoTwo">
              <%= f.label :sf_app_key, "Consumer Key" %>
              <i class="fa fa-question-circle"></i>
            </a>
            <%= f.text_field :sf_app_key, class: 'form-control' %>
            <div id="collapseTwoTwo" class="panel-collapse collapse">
                <br>
                <p>1. Goto “Apps” (in the “App Setup” / “Create” section) in your Salesforce Setup menu.</p>
                <p>2. Click “New” in the “Connected Apps” section at the bottom of the page.</p>
                <p>3. Type “OpenFn” in the “Connected App Name” field.</p>
                <p>4. Type “OpenFn” in the “API Name” field.</p>
                <p>5. Type your email in the “Contact Email” field.</p>
                <p>6. Click “Enable OAuth Settings” in the “API (Enable OAuth Settings)” section.</p>
                <p>7. Enter “https://login.salesforce.com” in the “Callback URL” field.</p>
                <p>8. Add “Access and manage your data (api)” in the “Available OAuth Scopes” section.</p>
                <p>9. Click “Save”.</p>
                <p>10. Copy the “Consumer Key” and paste it here.</p>
                <p>11. Click to reveal your “Consumer Secret”, then copy it and paste it here.</p>
            </div>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :sf_app_secret, "Consumer Secret" %>
            <%= f.text_field :sf_app_secret, class: 'form-control' %>
          </div>

<!-- There is no need for the user to enter this each time. It's ALWAYS login.salesforce.com and I don't know how to set the default value from the back-end, so I'm passing it through this hidden input form group. - TD -->

          <div class="form-group">
            <%= f.label :sf_host, "Salesforce Org Type" %>
            <br>
            <%= f.select :sf_host, class: 'form-control' do %>
              <% [['Production', "login.salesforce.com"], ['Sandbox', "test.salesforce.com"]].each do |c| -%>
                <%= content_tag(:option, c.first, value: c.last) %>
              <% end %>
            <% end %>
            </div>
          <%= f.submit "Update", class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
