<div class='row'>
  <div class="col-md-offset-4 col-md-4 well text-center">
    <h2>Set Your Password First</h2>
    <%= form_for :user, url: set_password_path(token: params[:token]), method: :post, role: 'form' do |f| %>

      <div class="form-group">
        <%= f.password_field :password, class: 'form-control', placeholder: 'Password', autocomplete: 'off', required: true %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm Password', autocomplete: 'off', required: true %>
      </div>

      <%= f.submit "Join", class: 'btn btn-primary' %>
      <span class='text-danger'><%= flash[:alert] %></span>
    <% end %>

  </div>
</div>
