<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-init="isCollapsed = true">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="/">open[Fn]</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse" collapse="isCollapsed">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "Marketplace", "/#/marketplace"%>
        </li>
        <li ng-controller="LoginController as loginCtrl">
          <a ng-click="checkLogin('<%= odk_sf_legacy_mappings_path %>')">Integrations</a>
        </li>
        <li>
          <a href="https://medium.com/@openFn" target="_blank">Content</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <% unless current_user %>
                <li>
                  <%= link_to "Pricing", "/#/pricing" %>
                </li>
              <% end %>
              <li>
                <%= link_to "Developers", "/#/developers"%>
              </li>
              <li>
                <%= link_to "Our Team", "/#/our_team"%>
              </li>         
            </ul>
        </li>        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to edit_user_path(current_user), 'ng-click' => "$event.stopPropagation()" do %>
                  Settings
                <% end %>
              </li>
              <li>
                <a href="#">Connected Apps (soon)</a>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to "/logout", method: :post do %>
                  Log out
                <% end %>
              </li>
            </ul>
          </li>
        <% end %>

        <% unless current_user %>
          <li ng-controller="LoginController as loginCtrl" class="row">
            <a ng-click="checkLogin()" >Login</a>
          </li>
          <li>
            <%= button_to "/signup", :class => "btn btn-default", method: :get do %>
              Sign up
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
</nav>
<%if current_user && current_user.client_admin?%>
  <%= render 'shared/invite_modal'%>
  <%= render 'shared/confirm_modal'%>
<%end%>



<div class="ideas">
  <div class="modal fade" id="donate_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="featurette dark">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center" id="myModalLabel">Make a donation.</h4>
          </div>
          <div class="modal-body">
            <strong>Thanks so much for your support</strong>.
            <br>
            <br>
            We believe that we'll receive 501(c)3 approval in this tax year, 2015. When we are granted 501(c)3 status, all donations that were made previously will be recognized as tax deductible. To learn more, click <a href="http://www.irs.gov/Charities-&-Non-Profits/Charitable-Organizations/Contributions-to-Organization-with-IRS-Application-Pending" target="_blank">here.</a>
            <br>
            <br>
            To make a donation, select your desired amount below and enter your credit card details on the following page.
            <br>
            <br>
            <br>
            <div class="row center">
              <div class="col-sm-2 col-sm-offset-3">
                <button class="btn btn-donate" data-amount='10' onClick="ga('send', 'event', 'Revenue', 'Donate Picker', 'Donate 10', 10);">$10</button>
              </div>
              <div class="col-sm-2">
                <button class="btn btn-donate" data-amount='25' onClick="ga('send', 'event', 'Revenue', 'Donate Picker', 'Donate 25', 25);">$25</button>
              </div>
              <div class="col-sm-2">
                <button class="btn btn-donate" data-amount='50' onClick="ga('send', 'event', 'Revenue', 'Donate Picker', 'Donate 50', 50);">$50</button>
              </div>
            </div>
            <br>
            <div class="row center">
              <div class="col-sm-2 col-sm-offset-3">
                <button class="btn btn-donate" data-amount='100' onClick="ga('send', 'event', 'Revenue', 'Donate Picker', 'Donate 100', 100);">$100</button>
              </div>
              <div class="col-sm-2">
                <button class="btn btn-donate" data-amount='200' onClick="ga('send', 'event', 'Revenue', 'Donate Picker', 'Donate 200', 200);">$200</button>
              </div>
              <div class="col-sm-2">
                <button class="btn btn-donate" data-amount='300' onClick="ga('send', 'event', 'Revenue', 'Donate Picker', 'Donate 300', 300);">$300</button>
              </div>
            </div>
            <br>
            <div class="row center">
              <div class="col-sm-2 col-sm-offset-3">
                <div class="input-group">
                  <button type="submit" class="btn btn-donate" data-amount='1000' id="customButton" onClick="ga('send', 'event', 'Revenue', 'Donate 1k', 1000);">$1000</button>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="text" class="form-control" id='customDonation' style="height: 50px;" aria-label="Amount (to the nearest dollar)" placeholder="Custom">
                  <span class="input-group-btn">
                    <button class="btn btn-donate-go" type="button" onClick="ga('send', 'event', 'Revenue', 'Donate Picker', 'Donate Custom');">Go</button>
                  </span>
                </div>
              </div>
            </div>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="modalTemplate.html">
  <div class="modal-content">
      <div class="modal-header center">
        <h2>
          Log in
          <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        </h2>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 modal-body">              
          <%= render '/user_sessions/form', user: @user %>
        </div>
        <div class="col-md-8 col-md-offset-2 modal-body">
          <h4>Click <%= link_to "/signup", method: :get do %>
              <button type="button" class="btn btn-success">Sign up</button>
            <% end %> to create a new account</h4>
        </div>
      </div>
      <div class="row">        
        <div class="col-md-8 col-md-offset-2 modal-body">
          <h4>Forgot your password?</h4>
          <%= render '/user_sessions/forgot_password_form' %>
        </div>
      </div>
  </div>
</script>

<%= form_tag charges_path, id: 'chargesForm' do %>
  <input type='hidden' id='token' name='token' />
  <input type='hidden' id='email' name='email' />
  <input type='hidden' id='amount' name='amount' />
<% end %>

<script async src="https://checkout.stripe.com/checkout.js"></script>

<script async>
  function loadStripe(amount) {
    var handler = StripeCheckout.configure({
      key: "<%= Rails.configuration.stripe[:publishable_key] %>",
      panelLabel: "Donate {{amount}}",
      name: "Donate to openFn",
      description: 'Donation, Tax ID 47-2201616',
      token: function(token) {
        // Use the token to create the charge with a server-side script.
        // You can access the token ID with `token.id`
        var id = token.id;
        var email = token.email;

        $('#chargesForm').children('#token').val(id);
        $('#chargesForm').children('#email').val(email);
        $('#chargesForm').children('#amount').val(amount);
        $('#chargesForm').submit();
      }
    });

    return handler;
  };

  $('.btn-donate-go').on('click', function(e) {
    var amount = Number($('#customDonation').val()) * 100;
    var handler = loadStripe(amount);

    // Open Checkout with further options
    handler.open({
      amount: amount
    });
  });

  $('.btn-donate').on('click', function(e) {
    var amount = Number($(e.target).attr('data-amount')) * 100;
    var handler = loadStripe(amount);

    // Open Checkout with further options
    handler.open({
      amount: amount
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>