<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/product-search">OpenFn</a>
      <!-- <a class="navbar-brand" href="<%= mappings_path%>" ng-click="$event.stopPropagation()">The Bridge</a> -->
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <% if current_user %>
        <ul class="nav navbar-nav">
          <li>
            <%= link_to "Marketplace", "/#/product-search" %>
          </li>
          <li>
            <%= link_to "Integrations - maps", mappings_path, 'ng-click' => "$event.stopPropagation()" %>
          </li>
          <% if current_user.admin? %>
            <li>
              <%= link_to "Metrics", "/#/metrics/organisation" %>
            </li>
          <% end %>
          <li>
            <%= link_to "Release Notes", "/#/release-notes" %>
          </li>
          <li>
            <%= link_to "Settings", edit_user_path(current_user), 'ng-click' => "$event.stopPropagation()" %>
          </li>
          <li>
            <%= link_to "Logout", :logout, method: :post %>
          </li>
        </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
