<nav class="navbar navbar-main navbar-dark bg-inverse navbar-fixed-top navbar-nav" ng-controller="LoginController as loginCtrl">
  <div class="container">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <a class="navbar-logo" href="/"><span class="sr-only">(current)</span></a>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/#/marketplace">Marketplace</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Integrations</a>
          <div class="dropdown-menu" aria-labelledby="Preview">
            <a class="dropdown-item" href="/#/v2">How it works &nbsp;&nbsp;<i class="fa fa-flask"></i></a>
            <a class="dropdown-item" ng-click="checkLogin('/mappings')"><i class="fa fa-tasks"></i>  &nbsp;&nbsp;Job manager</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://medium.com/@openFn" target="_blank">Content</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#/impact">Impact</a>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li class="nav-item">
          <a class="nav-link" href="/#/our_team">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#/developers"><i class="fa fa-code"></i> Developers</a>
        </li>
        <!-- TODO - fix plan change from pricing page for current users -->
        <% unless current_user %>
        <li class="nav-item">
          <a class="nav-link" href="/#/pricing">Pricing</a>
        </li>
        <% end %>
        <% if current_user %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %></a>
          <div class="dropdown-menu" aria-labelledby="Preview">
            <a class="dropdown-item" href=<%= edit_user_path(current_user) %> ng-click="$event.stopPropagation()">Settings</a>
            <a class="dropdown-item" data-method="post" href="/logout">Log out</a>
          </div>
        </li>
        <% end %>
        <% unless current_user %>
        <li class="nav-item">
          <a class="nav-link" ng-click="checkLogin()" >&nbsp;&nbsp;<i class="fa fa-lock"></i>&nbsp;&nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-grey" data-method="get" href="/signup" role="button"><b>Sign up!</b></a>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<script type="text/ng-template" id="modalTemplate.html">
  <div class="card-block noisy">
    <h4 class="card-title">Sign in <button class="btn btn-default btn-small pull-right" type="button" ng-click="cancel()">Close</button> </h4>
    <div class="card-block">
      <%= render '/user_sessions/form', user: @user %>
    </div>
    <div class="card-block">
      <p class="card-text">Click <a class="btn btn-primary" data-method="get" href="/signup" role="button">Sign up!</a> to create a new account</p>
    </div>
    <div class="card-block">
      <p class="card-text"><small class="text-muted">Forgot your password?</small></p>
      <%= render '/user_sessions/forgot_password_form' %>
    </div>
    <br>
  </div>
</script>

<%= form_tag charges_path, id: 'chargesForm' do %>
  <input type='hidden' id='token' name='token' />
  <input type='hidden' id='email' name='email' />
  <input type='hidden' id='amount' name='amount' />
<% end %>

<script async src="https://checkout.stripe.com/checkout.js"></script>

<script async>
  function loadStripe(amount) {
    var handler = StripeCheckout.configure({
      key: "<%= Rails.configuration.stripe[:publishable_key] %>",
      panelLabel: "Donate {{amount}}",
      name: "Donate to openFn",
      description: 'Donation, Tax ID 47-2201616',
      token: function(token) {
        // Use the token to create the charge with a server-side script.
        // You can access the token ID with `token.id`
        var id = token.id;
        var email = token.email;

        $('#chargesForm').children('#token').val(id);
        $('#chargesForm').children('#email').val(email);
        $('#chargesForm').children('#amount').val(amount);
        $('#chargesForm').submit();
      }
    });

    return handler;
  };

  $('.btn-donate-go').on('click', function(e) {
    var amount = Number($('#customDonation').val()) * 100;
    var handler = loadStripe(amount);

    // Open Checkout with further options
    handler.open({
      amount: amount
    });
  });

  $('.btn-donate').on('click', function(e) {
    var amount = Number($(e.target).attr('data-amount')) * 100;
    var handler = loadStripe(amount);

    // Open Checkout with further options
    handler.open({
      amount: amount
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
      handler.close();
  });
</script>