<tr>
  <td><div class="btn btn-map-label disabled"><%= submission.uuid %></div></td>
  <td><%= submission.created_at %></td>
  <td><%= submission.state %></td>
  <td>
    <%= link_to "View", [ @mapping, submission], class: 'btn btn-default' if submission.error? %>
  </td>
  <td>
    <%= link_to "Reprocess", [:reprocess, @mapping, submission], class: 'btn btn-danger', method: 'post', confirm: 'Are you sure?' if submission.error? %>
  </td>
</tr>
