<ol class="breadcrumb">
  <li><%= link_to "Mappings", :mappings %></li>
  <li><%= link_to @mapping.name, @mapping %></li>
  <li>Edit</li>
</ol>

<h3>Edit an existing mapping</h3>

<%= form_for @mapping, role: 'form' do |form| %>
  <%= render "shared/error_messages", :target => @mapping %>
  <%= render form %>
  <%= form.submit "Update", class: 'btn' %>
<% end %>