<ol class="breadcrumb">
  <li><%= link_to "Mappings", :mappings %></li>
  <li>New</li>
</ol>

<h3>Create a new mapping</h3>

<%= form_for @mapping, role: 'form' do |form| %>
  <%= render "shared/error_messages", :target => @mapping %>
  <%= render form %>
  <%= form.submit "Create", class: 'btn' %>
<% end %>