<% content_for :sidebar do %>
  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to "New Mapping", [:new, :mapping] %>
    </li>
    <li class='list-group-item'>
      <%= link_to "Edit Mapping", [:edit, @mapping] %>
    </li>
  </ul>
<% end %>

<ol class="breadcrumb">
  <li><%= link_to "Mappings", :mappings %></li>
  <li><%= @mapping.name %></li>
</ol>

<table class='table'>
  <thead>
    <tr>
      <th><b>ODK Fields</b></th>
      <th></th>
      <th><b>Salesforce Fields</b></th>
    </tr>
  </thead>
  <tbody>
    <% @mapping.salesforce_fields.each do |sf_field| %>
      <tr>
        <td>
          <% sf_field.odk_fields.each do |odk_field| %>
            <span class='label label-default odk-label'>
              <%= odk_field.field_name %>: <%= odk_field.field_type %>
            </span>
          <% end %>
        </td>
        <td>=></td>
        <td>
          <span class='label label-primary sf-label'>
            <%= sf_field.object_name %>: <%= sf_field.field_name %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>

  <%= form_tag dispatch_surveys_mapping_path(@mapping), class: 'form-inline', role: 'form' do %>
    <div class="form-group">
      <%= text_field_tag :only, params[:only], class: 'form-control', placeholder: 'Number of surveys to import' %>
    </div>
    <%= submit_tag "Import", class: 'btn btn-success' %>
  <% end %>

</table>
