<ol class="breadcrumb">
  <li><%= link_to "Mappings", :mappings %></li>
  <li><%= @mapping.name %> (<%= @mapping.active? ? "Active" : "Inactive" %>)</li>
</ol>

<div class='clearfix'>
  <div class='pull-left'>
    <%= form_tag dispatch_surveys_mapping_path(@mapping), class: 'form-inline', role: 'form' do %>
      <div class="form-group">
        <%= text_field_tag :only, params[:only], class: 'form-control', placeholder: 'Number of surveys to import' %>
      </div>
      <%= submit_tag "Import", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>

<div class='pull-right'>
  <%= button_to "Destroy", @mapping, method: :delete, class: 'btn btn-danger', confirm: 'Are you sure?' %>
  <%= link_to "View Cursor", '#', class: 'btn btn-primary', data: {toggle: 'modal', target: '#cursor_modal'} if @mapping.import && @mapping.import.cursor %>
  <%= button_to "Clear Cursor", [:clear_cursor, @mapping], class: 'btn btn-warning', confirm: "Are you sure?" %>
  <%= button_to "Clone", [:clone, @mapping], class: 'btn', confirm: 'Are you sure?' %>
</div>

<%= render "cursor_modal", mapping: @mapping if @mapping.import && @mapping.import.cursor %>
<%= render "edit", mapping: @mapping %>