<% content_for :sidebar do %>
  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to "New Mapping", [:new, :mapping] %>
    </li>
  </ul>
<% end %>

<ol class="breadcrumb">
  <li><%= link_to "Mappings", :mappings %></li>
  <li><%= @mapping.name %></li>
</ol>
<% @mapping.odk_mapping_fields.each do |odk_mapping_field| %>
  <div class='odk-field'>
    <div class="panel panel-default">
      <div class="panel-heading"><%= odk_mapping_field.field_name  %> - <%= odk_mapping_field.field_type %></div>
      <div class="panel-body">
        <h4>Mapped Salesforce Fields</h4>
        <ul class='saleforce-mapping-field list-inline'>
          <% odk_mapping_field.salesforce_mapping_fields.each do |sf_field| %>
            <li><span class="label label-default salesforce-autocomplete-field"><%= sf_field.object_name %>:<%= sf_field.field_name %></span></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>