</div>
</div>
<div class="ideas">

<header class="header-image">
  <div class="headline">
    <h1><i class="fa fa-plug"></i>
 open<strong>Integrations</strong></h1>
    <h3>Your apps are <strong>better</strong> together.</h3>
    </div>
</header>

  <div class="featurette mappings">
    <hr class="light">
    <hr class="dark">
    
    <div class="container">

<ol class="breadcrumb">
  <li><%= link_to "Mappings", odk_sf_legacy_mappings_path %></li>
  <li><%= link_to @mapping.name, @mapping %></li>
  <li>Submissions</li>
</ol>

<%= form_tag [@mapping, :submissions], method: 'get', role: 'form', class: 'form-inline' do %>
  <div class="form-group">
    Filter history by status:&nbsp;
    <%= select_tag :state, options_for_select([["Successful", :success], ["Error", :error]], params[:state]), include_blank: "All", class: 'form-control' %>
  </div>

   <%= submit_tag "Search", class: 'btn btn-default' %>
<% end %>

<hr />

<div class="container-fluid">
<table class='table table-striped'>
  <thead>
    <tr>
      <th>Submission ID</th>
      <th>Date &amp; Time</th>
      <th>Status</th>
      <th>Inspect</th>
      <th>Try again</th>
    </tr>
  </thead>
  <tbody>
    <%= render @submissions %>
  </tbody>
</table>
