<!DOCTYPE html>
<html>
<head>
  <title>OpenFn</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
  <body>
    <div class='container'>
      <%= render "shared/header" %>
    

      <%= render "shared/flash" %>
      <%= render "shared/sidebar" %>

        <% if content_for?(:sidebar) %>
          <div class='col-md-10'>
        <% else %>
          <div class='col-md-12'>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
