<!DOCTYPE html>
<html>
<head>
  <title>SalesForce</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <%= render "shared/header" %>

    <div class='container'>
      <%= render "shared/sidebar" %>

        <% if content_for?(:sidebar) %>
          <div class='col-md-10'>
        <% else %>
          <div class='col-md-12'>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>